<ion-view view-title="Account">
  <ion-content>
    <ion-list>
        <label class="item item-input">
          <input type="text"  name="email_address" placeholder="Your Email Address" ng-model="user.email">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Your BGG Username" ng-model="user.bgg">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Your Password" ng-model="user.password">
        </label>
        <div class="button-bar">
          <a class="button button-positive" ng-click="signIn($event)" href="#">Login</a>
        </div>
    </ion-list>
  </ion-content>
</ion-view>
