<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<!-- 
  TODO 
  Display/hide links based on state of user
-->
<ion-tabs class="tabs-icon-top tabs-color-active-calm">

  <!-- Hotness Tab -->
  <ion-tab title="Hotness" icon-off="ion-ios-flame" icon-on="ion-ios-flame" href="#/tab/hotness">
    <ion-nav-view name="tab-hotness"></ion-nav-view>
  </ion-tab>

  <!--  Sales Tab -->
  <ion-tab title="Sales" icon-off="ion-ios-pricetags" icon-on="ion-ios-pricetags" href="#/tab/sales">
    <ion-nav-view name="tab-sales"></ion-nav-view>
  </ion-tab>
  <!--  Wishlist Tab -->
  <ion-tab title="Wishlist" icon-off="ion-ios-cart" icon-on="ion-ios-cart" href="#/tab/wishlist">
    <ion-nav-view name="tab-wishlist"></ion-nav-view>
  </ion-tab>
  <!--  Wishlist Tab -->
  <ion-tab title="Logout" icon-off="ion-log-out" icon-on="ion-log-out" ng-click="logout($event)">
  </ion-tab>
  <!-- Account Tab -->
  
  <ion-tab title="Account" icon-off="ion-person" icon-on="ion-person" href="#/tab/account" class="">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
</ion-tabs>
