<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Hotness Tab -->
  <ion-tab title="Hotness" icon-off="ion-ios-flame" icon-on="ion-ios-flame" href="#/tab/hotness">
    <ion-nav-view name="tab-hotness"></ion-nav-view>
  </ion-tab>

  <!--  Sales Tab -->
  <ion-tab title="Sales" icon-off="ion-ios-pricetags" icon-on="ion-ios-pricetags" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-person" icon-on="ion-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
